
<link rel="stylesheet" href="~/wwwroot/css/games.css" />

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js'></script>


<div class="container g-container mx-auto">
    <main role="main" mx-auto>
        <!--back and darkmode button-->
        <div class="darkout">

            <div class="back">
                <a href="/Home/Game">
                    <div class="backBtn">
                        <span class="line tLine"></span>
                        <span class="line mLine"></span>
                        <span class="label">Back</span>
                        <span class="line bLine"></span>
                    </div>
                </a>
            </div>

            <div class="darkmode">
                <div class="pipe">
                    <div class="containerr">
                        <i class="fas fa-moon"></i>
                    </div>
                </div>
            </div>

        </div>
        <!--back and darkmode button-->
        <!--title-->
        <div class="header" style="margin-top: 70px;">
            <h1>Games</h1>
            <p>An interactive session. Level up today!</p>
        </div>
        <!--title-->

        <iframe class="mx-auto d-block text-center w-75" height='600' frameborder='0' scrolling='no' src='//www.4j.com/embed/Bubble-Shooter-1'></iframe>
        <p align="center">If something went wrong at the game screen,<br> kindly refresh the website</p>

        <!-- footer -->
        <div class="footer">
            <p>
                &copy;
                <script>
                    document.write(new Date().getFullYear());

                </script> By <a href="#" target="_blank">Systematrics</a>
            </p>
        </div>
        </main>
    </div>
        <!-- //footer -->
<script src="~/wwwroot/js/games.js"></script>