
@{
	ViewBag.Title = "ForgotPassword";
}

<style>
	body {
		background-color:white;
	}
	h2 {
		margin: 0;
		text-align: center;
		margin-top: 10%;
	}
	hr {
		width:70%;
	}
	.form-group {
		max-width: 400px;
		margin: 0 auto;
		display:block;
	}
	.form-group label {
		max-width: 200px;
		font-size: 1.3rem;
	}
</style>
<h2>ForgotPassword</h2>

@using (Html.BeginForm())
{
	<div class="form-horizontal">
		<hr />
		<div class="text-success text-center">
			@ViewBag.Message
		</div>
		<div class="form-group">
			<label class="control-label col-md-2 pl-0">Email ID</label>
			@Html.TextBox("EmailID", "", new { @class = "form-control" })
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10 pl-0 mt-2">
				<input type="submit" value="Submit" class="btn" style="background-color: #ff9017;"/>
			</div>
		</div>
	</div>
}