
@{
	ViewData["Title"] = "Privacy Policy";
}

<link rel="stylesheet" href="~/wwwroot/css/policy.css" />
<!--sets whole page for device viewport-->
<div class="pagecontainer" id="viewport">
	<script>
		//Make older browsers aware of new HTML5 layout tags
		"header nav aside article footer section".replace(/\w+/g, function (n) {
			document.createElement(n);
		});
	</script>

	<!-- Wrapper -->
	<div id="wrapper">
		<!-- Header - Page content-->
		<article role="main" class="main">
			<header class="header">
				<a href="/home.html" target="_blank"><img alt="logo" src="~/wwwroot/images/owl-logo.png"  style="width: 50px; height: 50px;/></a>
				<h1>General Policies</h1>
			</header>
			<br />
			<h2>Age Restrictions</h2>
			<p>
				Edulearn cares about the safety of your entire family. We understand that in the age of technology, children are on the internet more than ever and free online
				classifieds can be a fun way for them to find pastime such as books to read, video games to play, and videos to watch.
			</p>
			<p>
				While we pride ourselves on being a site that the whole family can use, we also know the concerns involved with overdoing the use of Edulearn. We want to minimize these
				risks. Therefore, for anyone under 12 years of age, we ask that you have your parent/guardian respond in any matter that interested you. Also, if you wish to ask
				something to us just email Systematrics, have your parent/guardian do so on your behalf so they can be directly involved in associating with us.
			</p>
			<p>Edulearn reserves the right for everyone, if we feel it is in the best interest and for the safety of our users.</p>
			<h2>General Data Protection Regulations (GDPR)</h2>
			<h4>1. What internal steps have you taken across your platforms to support GDPR requirements?</h4>
			<p>We have taken the following steps around our platforms to support GDPR:</p>
			<ul>
				<li>
					<p>Analyzed, map and report Personal Information throughout its lifecycle with us, that means from the time we collect it through its destruction.</p>
				</li>
				<li>
					<p>Designed intake channels to allow users to exercise their rights in due time, such as access, modify and delete their Personal Information.</p>
				</li>
				<li>
					<p>Implemented process to fulfil users' rights, such as access, modification and deletion within one month.</p>
				</li>
				<li>
					<p>Re-designed our registration process and privacy consent experience in our products.</p>
				</li>
				<li>
					<p>Rolled-out Privacy-by-Design training to teams to incorporate privacy minimization concepts in their engineering processes.</p>
				</li>
			</ul>
			<h4>2. How have/will you determine Consent and Disclaimer? Does Edulearn consider the use of copyright notice?</h4>
			<p>
				The information provided by Edulearn (“Company”, “we”, “our”, “us”) on http://www.edulearn-website.somee.com (the “Site”) is for
				general informational purposes only. All information on the Site is provided in good faith, however we make no representation or warranty of any kind, express or
				implied, regarding the accuracy, adequacy, validity, reliability, availability, or completeness of any information on the Site. Edulearn provided specific disclaimer in
				such contents, for more info visit our Copyright (Notice) Policy Section.
			</p>

			<h4>3. What information and to whom you gathered all of the modules in your website?</h4>
			<p>
				Edulearn uses affiliate links from other websites and making sure that the real owner of the contents has the right credits before hyperlinking it to our website. The
				aim of the linking policy is to help website owners regulate hyperlinking. The provisions of this covering both links to a website and links from a site. Linking
				can affect the popularity of a website positively, so it is important that website owners take steps to regulate this activity. Edulearn follows the legal basis for
				each and every processing activity. We do not claim any works of others from other website, Edulearn wants to recommend those [works from other site] to the users who
				are interested in eLearning.
			</p>

			<h4>4. Are there any certainty that Edulearn’s data privacy is legitimate for the users? What does Act 10173 of 2012 relation to your website?</h4>
			<p>
				According to Republic Act 10173-Data privacy Act of 2012. It is the policy of the State to protect the fundamental human right of privacy, of communication while
				ensuring free flow of information to promote innovation and growth. The State recognizes the vital role of information and communications technology in
				nation-building and its inherent obligation to ensure that personal information in information and communications systems in the government and in the private
				sector are secured and protected. Edulearn follows the law for the safety of our users including their rights and freedom.
			</p>
			<h2>Additional FAQs for each GDPR implementation work stream:</h2>
			<h4>1. Data Discovery and Mapping</h4>
			<p style="font-weight: bold">How does YouTube know what Personal Information it has about its users?</p>
			<p>We have analyzed and mapped Personal Information throughout its lifecycle with us, that means from the time we collect it through destruction.</p>
			<p style="font-weight: bold">Does YouTube share my information with third parties?</p>
			<p>
				We may disclose Personal Information of users to other person who uses YouTube such as corporate family and to third parties. This disclosure may be required for
				us to provide users access to our services, to comply with our legal obligations, to enforce our User Agreement, or to prevent, detect, mitigate, and investigate
				related to our services. We do not disclose users’ Personal Information to third parties for their marketing and advertising purposes without users’ consent. To
				read more about the Personal Information YouTube discloses, please visit YouTube’s Terms of Service.
			</p>
			<h4>2. Data Subject Rights</h4>
			<p style="font-weight: bold">
				What are the types of Personal Information that YouTube and/or Google collects about its users? OR Tell me what information it has about me?
			</p>
			<p>
				Google (and YouTube) collects data on what videos you watch, your location, device information, and IP address and cookie data. Finally, Google promises that it
				doesn't sell your data, but rather uses your information to “make ads relevant” while you're browsing the web. FAQ; Edulearn does not accept random ads; we want our
				user's experience not to disturb by random pop ads.
			</p>
			<h4>3. Legal Basis of Processing</h4>
			<p style="font-weight: bold">How can a user determine what legal basis Edulearn is processing his/her Personal Information under?</p>
			<p>Our User Privacy Notice gives an overview of the ways that we use users’ Personal Information and the associated legal basis.</p>
			<p style="font-weight: bold">What can a user do if he/she wants to object to his/her data being processed?</p>
			<p>
				If a user objects to his/her Personal Information being processed, he/she can contact Customer Service and request that we cease processing the respective Personal
				Information as described in the User Privacy Notice. They can also email us on owlhpm@gmail.com for their assistance.
			</p>
			<h4>4. Privacy Operations</h4>
			<p style="font-weight: bold">How does Edulearn connect with owners using email?</p>
			<p>
				Our privacy risk assessment process takes into account the complexity of the project and the sensitivity of the personal information being used and recommends
				controls to reduce risks to personal information being misused. Go into Types of Data Collected Section for more info.
			</p>

			<h4>5. Crisis Management / Breach Response</h4>
			<p style="font-weight: bold">How does Edulearn determine whether a security incident has occurred?</p>
			<p>
				We have a dedicated global team to monitor our platforms. When this team receives information that could represent an incident, an analysis is performed to
				validate that an incident has occurred. If Personal Information is involved in an incident, our process incorporates further analysis to determine potential impact
				on rights and freedoms of individuals.
			</p>
			<p style="font-weight: bold">How does Edulearn determine when to notify affected individuals about a security incident?</p>
			<p>
				We incorporate notification requirements for all jurisdictions in which we operate. As data protection laws are updated, we monitor their changes to ensure that we
				meet our legal obligations. In addition, we review data security issues for their potential of harm to determine if we should proactively notify individuals, even
				when notice is not legally required.
			</p>
			<h4>6. Privacy Control Environment</h4>
			<p style="font-weight: bold">How does Edulearn make sure that they have appropriate controls on personal data throughout its affiliate links?</p>
			<p>
				This Privacy Policy describes Our policies and procedures on the collection, use and disclosure of Your information when You use the Service and tells You about
				Your privacy rights and how the law protects You. We use Your Personal data to provide and improve the Service. By using the Service, you agree to the collection
				and use of information in accordance with this Privacy Policy. You can read more information by visiting Edulearn’s Privacy Policy section ‘Use of Your Personal Data’.
			</p>

			<header class="header">
				<h1>Privacy Policy</h1>
			</header>
			<p>Last updated: December 30, 2020</p>
			<p>
				This Privacy Policy describes Our policies and procedures on the collection, use and disclosure of Your information when You use the Service and tells You about
				Your privacy rights and how the law protects You. We use Your Personal data to provide and improve the Service. By using the Service, you agree to the collection
				and use of information in accordance with this Privacy Policy.
			</p>

			<h2>Interpretation</h2>
			<p>
				The words of which the initial letter is capitalized have meanings defined under the following conditions. The following definitions shall have the same meaning
				regardless of whether they appear in singular or in plural.
			</p>
			<h2>Definitions</h2>
			<p>A definition is a statement of the meaning of a term (a word, phrase, or other set of symbols). For the purposes of this Privacy Policy:</p>
			<ul>
				<li>Account means a unique account created for You to access our Service or parts of our Service.</li>
				<li>Company (referred to as either "the Company", "We", "Us" or "Our" in this Agreement) refers to Edulearn.</li>
				<li>
					Cookies are small files that are placed on Your computer, mobile device or any other device by a website, containing the details of Your browsing history on that
					website among its many uses.
				</li>
				<li>Country refers to: Philippines</li>
				<li>Device means any device that can access the Service such as a computer, a cellphone or a digital tablet.</li>
				<li>Personal Data is any information that relates to an identified or identifiable individual.</li>
				<li>Service refers to the Website.</li>
				<li>
					Service Provider means any natural or legal person who processes the data on behalf of the Company. It refers to third-party companies or individuals employed by
					the Company to facilitate the Service, to provide the Service on behalf of the Company, to perform services related to the Service or to assist the Company in
					analyzing how the Service is used.
				</li>
				<li>
					Third-party Social Media Service refers to any website or any social network website through which a User can log in or create an account to use the Service.
				</li>
				<li>
					Usage Data refers to data collected automatically, either generated by the use of the Service or from the Service infrastructure itself (for example, the
					duration of a page visit).
				</li>
				<li>Website refers to Edulearn, accessible from < http://http://www.edulearn-website.somee.com ></li>
				<li>
					You mean the individual accessing or using the Service, or the company, or other legal entity on behalf of which such individual is accessing or using the
					Service, as applicable.
				</li>
			</ul>
			<h2>Collecting and Using Your Personal Data</h2>
			<h3>Types of Data Collected</h3>
			<h4>Personal Data</h4>
			<p>
				While using Our Service, we may ask You to provide Us with certain personally identifiable information that can be used to contact or identify You. Personally,
				identifiable information may include, but is not limited to:
			</p>
			<ul>
				<li>Email address</li>
				<li>Usage Data</li>
			</ul>

			<h2>Usage Data</h2>
			<p>
				Usage Data is collected automatically when using the Service. Usage Data may include information such as Your Device's Internet Protocol address (e.g., IP
				address), browser type, browser version, the pages of us Service that You visit, the time and date of Your visit, the time spent on those pages, unique device
				identifiers and other diagnostic data.
			</p>
			<p>
				When You access the Service by or through a mobile device, we may collect certain information automatically, including, but not limited to, the type of mobile
				device You use, Your mobile device unique ID, the IP address of Your mobile device, Your mobile operating system, the type of mobile Internet browser You use,
				unique device identifiers and other diagnostic data.
			</p>
			<p>We may also collect information that Your browser sends whenever You visit us Service or when You access the Service by or through a mobile device.</p>

			<h2>Tracking Technologies and Cookies</h2>
			<p>
				We use Cookies and similar tracking technologies to track the activity on Us Service and store certain information. Tracking technologies used are beacons, tags,
				and scripts to collect and track information and to improve and analyze Our Service. The technologies We use may include:
			</p>
			<ul>
				<li>
					<strong>Cookies or Browser Cookies</strong> A cookie is a small file placed on Your Device. You can instruct Your browser to refuse all Cookies or to indicate
					when a Cookie is being sent. However, if You do not accept Cookies, You may not be able to use some parts of our Service. Unless you have adjusted Your browser
					setting so that it will refuse Cookies, our Service may use Cookies.
				</li>
				<li>
					<strong>Flash Cookies</strong> Certain features of our Service may use local stored objects (or Flash Cookies) to collect and store information about Your
					preferences or Your activity on our Service. Flash Cookies are not managed by the same browser settings as those used for Browser Cookies. For more information
					on how You can delete Flash Cookies, please read "Where can I change the settings for disabling, or deleting local shared objects?"
				</li>
				<li>
					<strong>WEB Beacons</strong> . Certain sections of our Service and our emails may contain small electronic files known as web beacons (also referred to as clear
					gifs, pixel tags, and single-pixel gifs) that permit the Company, for example, to count users who have visited those pages or opened an email and for other
					related website statistics (for example, recording the popularity of a certain section and verifying system and server integrity).
				</li>
			</ul>
			<h4>The use of Cookies</h4>
			<p>
				Cookies can be "Persistent" or "Session" Cookies. Persistent Cookies remain on Your personal computer or mobile device when You go offline, while Session Cookies
				are deleted as soon as You close Your web browser.
			</p>
			<p>We use both Session and Persistent Cookies for the purposes set out below:</p>
			<ul>
				<li>
					Necessary / Essential Cookies <br />
					Type: Session Cookies <br />
					Administered by: Us <br />
					Purpose: These Cookies are essential to provide You with services available through the Website and to enable You to use some of its features. They help to
					authenticate users and prevent fraudulent use of user accounts. Without these Cookies, the services that You have asked for cannot be provided, and We only use
					these Cookies to provide You with those services.
				</li>
				<li>
					Cookies Policy / Notice Acceptance Cookies <br />
					Type: Persistent Cookies <br />
					Administered by: Us <br />
					Purpose: These Cookies identify if users have accepted the use of cookies on the Website.
				</li>
				<li>
					Functionality Cookies <br />
					Type: Persistent Cookies <br />
					Administered by: Us <br />
					Purpose: These Cookies allow us to remember choices You make when You use the Website, such as remembering your login details or language preference. The purpose
					of these Cookies is to provide You with a more personal experience and to avoid You having to re-enter your preferences every time You use the Website.
				</li>
			</ul>
			<p>
				For more information about the cookies, we use and your choices regarding cookies, please visit our Cookies Policy or the Cookies section of our Privacy Policy.
			</p>
			<h2>User of Your Personal Data</h2>
			<p>The Company may use Personal Data for the following purposes:</p>
			<ul>
				<li>To provide and maintain our Service, including to monitor the usage of our Service.</li>
				<li>
					For the performance of a contract: the development, compliance and undertaking of the purchase contract for the products, items or services You have purchased or
					of any other contract with Us through the Service.
				</li>
				<li>
					To contact You: To contact You by email, telephone calls, SMS, or other equivalent forms of electronic communication, such as a mobile application's push
					notifications regarding updates or informative communications related to the functionalities, products or contracted services, including the security updates,
					when necessary or reasonable for their implementation.
				</li>
				<li>
					To provide You with news, special offers and general information about other goods, services and events which we offer that are similar to those that you have
					already purchased or enquired about unless You have opted not to receive such information.
				</li>
				<li>To manage Your requests: To attend and manage Your requests to Us.</li>
				<li>
					For business transfers: We may use Your information to evaluate or conduct a merger, divestiture, restructuring, reorganization, dissolution, or other sale or
					transfer of some or all of Our assets, whether as a going concern or as part of bankruptcy, liquidation, or similar proceeding, in which Personal Data held by Us
					about our Service users is among the assets Transferred.
				</li>
				<li>
					• For other purposes: We may use Your information for other purposes, such as data analysis, identifying usage trends, determining the effectiveness of our
					promotional campaigns and to evaluate and improve our Service, products, services, marketing and your experience.
				</li>
			</ul>
			<p>We may share Your personal information in the following situations:</p>
			<ul>
				<li>With Service Providers: We may share Your personal information with Service Providers to monitor and analyze the use of our Service, to contact You.</li>
				<li>
					For business transfers: We may share or transfer Your personal information in connection with, or during negotiations of, any merger, sale of Company assets,
					financing, or acquisition of all or a portion of Our business to another company.
				</li>
				<li>
					With Affiliates: We may share Your information with Our affiliates, in which case we will require those affiliates to honor this Privacy Policy. Affiliates
					include Our parent company and any other subsidiaries, joint venture partners or other companies that We control or that are under common control with Us.
				</li>
				<li>With business partners: We may share Your information with Our business partners to offer You certain products, services or promotions.</li>
				<li>
					With other users: when You share personal information or otherwise interact in the public areas with other users, such information may be viewed by all users and
					may be publicly distributed outside. If You interact with other users or register through a Third-Party Social Media Service, your contacts on the Third-Party
					Social Media Service may see Your name, profile, pictures and description of Your activity. Similarly, other users will be able to view descriptions of Your
					activity, communicate with You and view Your profile.
				</li>
				<li>With Your consent: We may disclose Your personal information for any other purpose with Your consent.</li>
			</ul>
			<h2>Retention of Your Personal Data</h2>
			<p>
				The Company will retain Your Personal Data only for as long as is necessary for the purposes set out in this Privacy Policy. We will retain and use Your Personal
				Data to the extent necessary to comply with our legal obligations (for example, if we are required to retain your data to comply with applicable laws), resolve
				disputes, and enforce our legal agreements and policies.
			</p>
			<p>
				The Company will also retain Usage Data for internal analysis purposes. Usage Data is generally retained for a shorter period of time, except when this data is
				used to strengthen the security or to improve the functionality of Us Service, or We are legally obligated to retain this data for longer time periods.
			</p>
			<h2>Transfer of Your Personal Data</h2>
			<p>
				Your information, including Personal Data, is processed at the Company's operating offices and in any other places where the parties involved in the processing is
				located. It means that this information may be transferred to — and maintained on — computers located outside of Your state, province, country or other
				governmental jurisdiction where the data protection laws may differ than those from Your jurisdiction.
			</p>
			<p>Your consent to this Privacy Policy followed by Your submission of such information represents Your agreement to that transfer.</p>
			<p>
				The Company will take all steps reasonably necessary to ensure that Your data is treated securely and in accordance with this Privacy Policy and no transfer of
				Your Personal Data will take place to an organization or a country unless there are adequate controls in place including the security of Your data and other
				personal information.
			</p>
			<h2>Disclosure of Your Personal Data</h2>
			<h4>Business Transactions</h4>
			<p>
				If the Company is involved in a merger, acquisition or asset sale, Your Personal Data may be transferred. We will provide notice before Your Personal Data is
				transferred and becomes subject to a different Privacy Policy.
			</p>
			<h4>Law enforcement</h4>
			<p>
				Under certain circumstances, the Company may be required to disclose Your Personal Data if required to do so by law or in response to valid requests by public
				authorities (e.g., a court or a government agency).
			</p>
			<h4>Other legal requirements</h4>
			<p>The Company may disclose Your Personal Data in the good faith belief that such action is necessary to:</p>
			<ul>
				<li>Comply with a legal obligation</li>
				<li>Protect and defend the rights or property of the Company</li>
				<li>Prevent or investigate possible wrongdoing in connection with the Service</li>
				<li>Protect the personal safety of Users of the Service or the public</li>
				<li>Protect against legal liability</li>
			</ul>

			<h4>Security of Your Personal Data</h4>
			<p>
				The security of Your Personal Data is important to Us, but remember that no method of transmission over the Internet, or method of electronic storage is 100%
				secure. While We strive to use commercially acceptable means to protect Your Personal Data, we cannot guarantee its absolute security.
			</p>
			<h4>Links to Other Websites</h4>
			<p>
				Our Service may contain links to other websites that are not operated by Us. If You click on a third-party link, you will be directed to that third party's site.
				We strongly advise You to review the Privacy Policy of every site You visit.
			</p>
			<p>We have no control over and assume no responsibility for the content, privacy policies or practices of any third-party sites or services.</p>
			<h4>Changes ot this Privacy Policy</h4>
			<p>
				We may update Our Privacy Policy from time to time. We will notify You of any changes by posting the new Privacy Policy on this page. We will let You know via
				email and/or a prominent notice on Our Service, prior to the change becoming effective and update the "Last updated" date at the top of this Privacy Policy.
			</p>
			<p>You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>

			<br />
			<h4>Contact Us</h4>
			<p>If you have any questions about this Privacy Policy, you can contact us:</p>
			<ul>
				<li>By email: owlhpm@gmail.com</li>
				<li>• By visiting this page on our website: https://www.facebook.com/hpmowl</li>
			</ul>

			<h3>COPYRIGHT (NOTICE) POLICY</h3>
			<p>Last updated: 2020-12-30</p>
			<h4>WEBSITE DEISCLAIMER</h4>
			<p>
				The information provided by Edulearn (“Company”, “we”, “our”, “us”) on http://www.edulearn-website.somee.com (the “Site”) is for
				general informational purposes only. All information on the Site is provided in good faith, however we make no representation or warranty of any kind, express or
				implied, regarding the accuracy, adequacy, validity, reliability, availability, or completeness of any information on the Site.
			</p>
			<p>
				UNDER NO CIRCUMSTANCE SHALL WE HAVE ANY LIABILITY TO YOU FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF THE USE OF THE SITE OR RELIANCE ON ANY
				INFORMATION PROVIDED ON THE SITE. YOU’RE USE OF THE SITE AND YOUR RELIANCE ON ANY INFORMATION ON THE SITE IS SOLELY AT YOUR OWN RISK.
			</p>
			<h4>EXTERNAL LINKS DISCLAIMER</h4>
			<p>
				The Site may contain (or you may be sent through the Site) links to other websites or content belonging to or originating from third parties or links to websites
				and features. Such external links are not investigated, monitored, or checked for accuracy, adequacy, validity, reliability, availability or completeness by us.
			</p>
			<p>
				For example, the outlined Disclaimer has been created using PolicyMaker.io, a free web application for generating high-quality legal documents. Policymaker's
				disclaimer generator is an easy-to-use tool for creating an excellent sample Disclaimer template for a website, blog, eCommerce store or app.
			</p>
			<p>
				WE DO NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME RESPONSIBILITY FOR THE ACCURACY OR RELIABILITY OF ANY INFORMATION OFFERED BY THIRD-PARTY WEBSITES LINKED THROUGH
				THE SITE OR ANY WEBSITE OR FEATURE LINKED IN ANY BANNER OR OTHER ADVERTISING. WE WILL NOT BE A PARTY TO OR IN ANY WAY BE RESPONSIBLE FOR MONITORING ANY TRANSACTION
				BETWEEN YOU AND THIRD-PARTY PROVIDERS OF PRODUCTS OR SERVICES.
			</p>
			<h4>PROFESSIONAL DISCLAIMER</h4>
			<p>
				The Site cannot and does not contain legal advice. The information is provided for general informational and educational purposes only and is not a substitute for
				professional legal advice. Accordingly, before taking any actions based upon such information, we encourage you to consult with the appropriate professionals. We
				do not provide any kind of legal advice.
			</p>
			<p>
				Content published on http://www.edulearn-website.somee.com is intended to be used and must be used for informational purposes only. It is very important to do
				your own analysis before making any decision based on your own personal circumstances. You should take independent legal advice from a professional or
				independently research and verify any information that you find on our Website and wish to rely upon.
			</p>
			<p>THE USE OR RELIANCE OF ANY INFORMATION CONTAINED ON THIS SITE IS SOLELY AT YOUR OWN RISK.</p>
			<h4>AFFILIATES DISCLAIMER</h4>
			<p>
				The Site may contain links to affiliate websites, and we may receive an affiliate commission for any purchases or actions made by you on the affiliate websites
				using such links.
			</p>
			<h4>TESTIMONIALS DISCLAIMER</h4>
			<p>
				The Site may contain testimonials by users of our products and/or services. These testimonials reflect the real-life experiences and opinions of such users.
				However, the experiences are personal to those particular users, and may not necessarily be representative of all users of our products and/or services. We do not
				claim, and you should not assume that all users will have the same experiences.
			</p>
			<p>YOUR INDIVIDUAL RESULTS MAY VARY.</p>
			<p>
				The testimonials on the Site are submitted in various forms such as text, audio and/or video, and are reviewed by us before being posted. They appear on the Site
				verbatim as given by the users, except for the correction of grammar or typing errors. Some testimonials may have been shortened for the sake of brevity, where the
				full testimonial contained extraneous information not relevant to the general public.
			</p>
			<p>The views and opinions contained in the testimonials belong solely to the individual user and do not reflect our views and opinions.</p>
			<h4>ERRORS AND OMISSIONS DISCLAIMER</h4>
			<p>
				While we have made every attempt to ensure that the information contained in this site has been obtained from reliable sources, Edulearn
				is not responsible for any errors or omissions or for the results obtained from the use of this information. All information in this site is provided “as is”, with
				no guarantee of completeness, accuracy, timeliness or of the results obtained from the use of this information, and without warranty of any kind, express or
				implied, including, but not limited to warranties of performance, merchantability, and fitness for a particular purpose.
			</p>
			<p>
				In no event will Online Website for Learning (OWL), its related partnerships or corporations, or the partners, agents or employees thereof be liable to you or
				anyone else for any decision made or action taken in reliance on the information in this Site or for any consequential, special or similar damages, even if advised
				of the possibility of such damages.
			</p>
			<h4>GUEST CONTRIBUTORS DISCLAIMER</h4>
			<p>
				This Site may include content from guest contributors and any views or opinions expressed in such posts are personal and do not represent those of Edulearn or any of its staff or affiliates unless explicitly stated.
			</p>
			<h4>LOGOS AND TRADEMARKS DISCLAIMER</h4>
			<p>
				All logos and trademarks of third parties referenced on http://www.edulearn-website.somee.com are the trademarks and logos of their respective owners. Any
				inclusion of such trademarks or logos does not imply or constitute any approval, endorsement or sponsorship of Edulearn by such owners.
			</p>
			<h4>CONTACT US</h4>
			<p>Should you have any feedback, comments, requests for technical support or other inquiries, please contact us by email: owlhpm@gmail.com.</p>
			<p>Visit the page of our website: http://www.edulearn-website.somee.com</p>
		</article>
	</div>
</div>
