
@{
    ViewBag.Title = "ManageUser";
}
<link rel="shortcut icon" href="/wwwroot/images/flavicon.ico" />
<link rel="stylesheet" href="/wwwroot/css/library.css" />
<style>
    .small {
        margin-bottom: 5px;
    }
</style>

<!-- Wrapper -->
<div id="wrapper">
    <!-- Main -->
    <div id="main">
        <div class="inner">
            <!-- Header -->
            <header id="header">
                <a class="logo"><strong>Library</strong></a>
                <div class="main-cont">
                    <div id="time-i">
                        <h1>-</h1>
                    </div>
                    <div id="date-i">
                        <h1>-</h1>
                    </div>
                    <div id="day-i">
                        <h1>-</h1>
                    </div>
                </div>
            </header>

            <!-- Content -->
            <section style="padding-top: 10px !important">
                <header class="main">
                    <h1 style="text-align: center">Users</h1>
                </header>
                <!-- Form -->
                <form method="post" action="#">
                    <div class="row gtr-uniform">
                        <div class="col-6 col-12-xsmall">
                            <label for="demo-name">Username</label>
                            <input type="text" name="demo-name" id="demo-name" value="" placeholder="Username" />
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <label for="demo-name">Email</label>
                            <input type="text" name="demo-name" id="demo-name" value="" placeholder="Email" />
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <label for="demo-name">Password</label>
                            <input type="text" name="demo-name" id="demo-name" value="" placeholder="Password" />
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <label for="demo-name">Confirm Password</label>
                            <input type="text" name="demo-name" id="demo-name" value="" placeholder="Confirm Password" />
                        </div>
                        <div class="col-12">
                            <ul class="actions">
                                <li><a href="#" class="button primary">Add User</a></li>
                            </ul>
                        </div>
                    </div>
                </form>

                <!-- Existing Accounts -->
                <h2>5 Existing Accounts</h2>
                <!-- Break -->
                <div class="table-wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Mariela Flores</td>
                                <td>Mariela@gmail.com</td>
                                <td class="d-flex flex-row">
                                    <a href="#" class="button primary small w-50">Edit</a>
                                    <a href="#" class="button primary small w-50">Delete</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Joaquin Valdez</td>
                                <td>Joaquin@gmail.com</td>
                                <td>
                                    <a href="#" class="button primary small">Edit</a>
                                    <a href="#" class="button primary small">Delete</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Mike Almonte</td>
                                <td>Mike@gmail.com</td>
                                <td>
                                    <a href="#" class="button primary small">Edit</a>
                                    <a href="#" class="button primary small">Delete</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Jason Rosales</td>
                                <td>Jason@gmail.com</td>
                                <td>
                                    <a href="#" class="button primary small">Edit</a>
                                    <a href="#" class="button primary small">Delete</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Clark Glova</td>
                                <td>Clark@gmail.com</td>
                                <td>
                                    <a href="#" class="button primary small">Edit</a>
                                    <a href="#" class="button primary small">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>

    <!-- Sidebar -->
    <div id="sidebar">
        <div class="inner">
            <!-- Home Back Button -->
            <a href="/Home"><div class="home-back-button"><i class="fa fa-arrow-left fa-fw" aria-hidden="true"></i>Back</div></a>

            <!-- Menu -->
            <nav id="menu">
                <header class="major">
                    <h2>Menu</h2>
                </header>

                <ul>
                    <li><a href="/library.html">General</a></li>
                    <li>
                        <span class="opener">Web Directory</span>
                        <ul>
                            <li><a href="/directory_pages/englishD.html">English</a></li>
                            <li><a href="/directory_pages/mathD.html">Math</a></li>
                            <li><a href="/directory_pages/filipinoD.html">Filipino</a></li>
                            <li><a href="/directory_pages/scienceD.html">Science</a></li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">Modules</span>
                        <ul>
                            <li><a href="/library_pages/Manager.html">Manage Modules</a></li>
                            <li><a href="/library_pages/kindergarten.html">Kindergarten</a></li>
                            <li><a href="/library_pages/elem.html">Elementary</a></li>
                            <li><a href="/library_pages/junior_high.html">Junior High School</a></li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">Tables & Charts</span>
                        <ul>
                            <li><a href="/library_pages/charts/flags.html">Flags</a></li>
                            <li><a href="/library_pages/charts/numberChart.html">Numbers</a></li>
                            <li><a href="/library_pages/charts/letterChart.html">Letters</a></li>
                            <li><a href="/library_pages/charts/shapes.html">Shapes</a></li>
                            <li><a href="/library_pages/charts/color.html">Colors</a></li>
                            <li><a href="/library_pages/charts/bodyParts.html">Body Parts</a></li>
                            <li><a href="/library_pages/charts/multiplicationTable.html">Multiplication Table</a></li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">Maps</span>
                        <ul>
                            <li><a href="/library_pages/maps/worldMap.html">World Map</a></li>
                            <li><a href="/library_pages/maps/countryMap.html">Country Map</a></li>
                            <li><a href="/library_pages/maps/googleMap.html">Google Map</a></li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">Videos</span>
                        <ul>
                            <li><a href="/library_pages/youtube.html">Youtube</a></li>
                            <li><a href="/library_pages/channels.html">Channel Recommendations</a></li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">eBooks</span>
                        <ul>
                            <li><a href="/library_pages/googleBooks.html">Google eBooks</a></li>
                            <li><a href="/directory_pages/eBooksD.html">eBooks Web Directory</a></li>
                        </ul>
                    </li>
                    <li><a href="/library_pages/trivia.html">Trivia</a></li>
                    <li><a href="/library_pages/dictionary.html">Dictionary</a></li>
                    <li><a href="/library_pages/studyTips.html">Study Tips</a></li>
                </ul>
            </nav>

            <!-- Footer -->
            <footer id="footer">
                <p class="copyright">&copy; Systematrics. All rights reserved.</p>
            </footer>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="/wwwroot/js/jquery.min.js"></script>
<script src="/wwwroot/js/browser.min.js"></script>
<script src="/wwwroot/js/breakpoints.min.js"></script>
<script src="/wwwroot/js/util.js"></script>
<script src="/wwwroot/js/library.js"></script>

