
/*general*/

@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");

:root {
    --mainColor: #1199e7;
    --bodyColor: white;
    --secondColor: #ff9017;
    --textBlack: #000;
    --subbodyColor: white;
    --rgb66nav: rgb(66, 66, 66);
    --white: #fff;
    --homeBackground: url(/wwwroot/images/background.png);
}

body.dark {
    --mainColor: #ff9017;
    --bodyColor: #2b2c2f;
    --subbodyColor: #34363a;
    --secondColor: #1199e7;
    --textBlack: white;
    --rgb66nav: white;
    --white: #fff;
    --homeBackground: url(/wwwroot/images/home-dark-background.png);
    /* --secondColor: #1199e7; */
}

body {
    background-color: var(--bodyColor) !important;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

.g-container {
    margin: 0 auto !important;
    padding: 0 !important;
}

.container {
    margin: 0 auto !important;
}

.logout-margin{
    margin-left: 10px;
}

#header {
    height: 550px;
    background-image: var(--homeBackground);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

    #header .sticky {
        padding-left: 5px;
        margin: 0 auto;
    }

.container {
    margin-right: 100px;
    margin-left: 100px;
}

.logo {
    margin-top: 30px;
    width: 200px;
}

.letterE {
    color: var(--secondColor);
}

.header-text {
    max-width: 400px;
    margin-top: 90px;
    padding-top: 100px;
    color: var(--textBlack);
}

    .header-text button {
        margin-top: 20px;
        margin-bottom: 60px;
    }

h1 {
    font-size: 34px;
}

.square {
    height: 12px;
    width: 12px;
    display: inline-block;
    background: var(--secondColor);
    margin: 15px 0;
}

.common-btn {
    padding: 18px 40px;
    background: transparent;
    outline: none;
    border: 2px solid var(--mainColor);
    font-weight: bold;
    cursor: pointer;
    color: #000;
}

    .common-btn:hover {
        color: #000;
    }

p {
    font-size: 15px;
    line-height: 18px;
    color: #777;
}

.line-1,
.line-2,
.line-3 {
    width: 15px;
    height: 15px;
    background: var(--secondColor);
    display: inline-block;
}

.line-2 {
    width: 80px;
    height: 1px;
}

.line-3 {
    width: 60px;
    height: 1px;
}

.line {
    line-height: 8px;
}

/*navigation*/
/*NAVIGATION*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

    header .logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        color: var(--mainColor);
        font-weight: 700;
        font-size: 2em;
        text-decoration: none !important;
    }

        header .logo img.owl-nav {
            width: 50px !important;
            height: 50px !important;
            margin-right: 10px;
        }

    header .navigation {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 10px;
    }

        header .navigation li {
            list-style: none;
            margin-left: 30px;
            padding-top: 5px;
        }

            header .navigation li a {
                letter-spacing: 1px;
                text-decoration: none;
                font-weight: 600;
                color: var(--rgb66nav);
            }
                header .navigation li a.dropdown-item {
                    color: var(--rgb66nav);
                }
                header .navigation li a:hover {
                    color: var(--secondColor);
                }

    header.sticky {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background: #8ad1fa;
        padding: 10px 100px;
        -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    }

        header.sticky .logo {
            color: white;
        }

        header.sticky .navigation li a {
            letter-spacing: 1px;
            font-weight: normal;
            color: #242424;
        }

            header.sticky .navigation li a:hover {
                color: var(--secondColor);
            }

.logo {
    margin-top: 0 !important;
}

@media (max-width: 991px) {
    header,
    header.sticky {
        padding: 10px 20px;
    }

        header .navigation {
            display: none;
        }

    .navigation.active {
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        background: #fff;
        opacity: 0;
        -webkit-animation: fadeIn 0.7s ease-in both;
        animation: fadeIn 0.7s ease-in both;
    }

        .navigation.active li {
            -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
        }

    header .navigation li {
        margin-left: 0;
    }

        header .navigation li a {
            text-decoration: none;
            color: #111;
            font-size: 1.6em;
            font-weight: normal;
        }

            header .navigation li a:hover {
                color: #ff0157;
            }

    @-webkit-keyframes fadeIn {
        from {
            opacity: 0;
            -webkit-transform: translate3d(0, -20%, 0);
            transform: translate3d(0, -20%, 0);
        }

        to {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            -webkit-transform: translate3d(0, -20%, 0);
            transform: translate3d(0, -20%, 0);
        }

        to {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }

    .menuToggle {
        position: relative;
        width: 50px;
        height: 50px;
        background: url(/wwwroot/images/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

        .menuToggle.active {
            background: url(/wwwroot/images/menu.png);
            background-size: 28px;
            background-repeat: no-repeat;
            background-position: center;
        }
}

.dropdown-menu.show {
    background-color: var(--subbodyColor) !important;
}

header.sticky .dropdown-menu.show {
    background-color: var(--white) !important;
}

/*about*/
#about {
    padding: 20px 0 100px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.about-left-col {
    margin-left: 8%;
    -ms-flex-preferred-size: 42%;
    flex-basis: 42%;
}

    .about-left-col img {
        width: 100%;
    }

    .about-left-col div.card-body {
        padding-top: 0;
        padding-bottom: 0;
    }

.about-right-col {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    text-align: right;
}

.about-text {
    max-width: 500px;
    margin-right: 100px;
    display: inline-block;
}

    .about-text h1 {
        color: var(--textBlack);
    }
    .about-text h2 {
        margin: 50px 0 10px;
        font-size: 28px;
        font-style: italic;
        color: var(--textBlack);
    }

    .about-text h3 {
        font-size: 20px;
        font-style: italic;
        color: #797979;
    }

.carousel-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: center;
    align-content: center;
    padding-top: 100px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.bg-pink {
    background-color: #a5d6f3 !important;
}

.text-pink {
    color: var(--secondColor);
}

.border-radius {
    border-radius: 250px;
    width: 60%;
}

@media only screen and (max-width: 400px) {
    .about-left-col {
        margin-left: 0 !important;
    }

    #menuBtn {
        right: 20px !important;
    }
}

/*features*/
.section-2 {
    border-radius: 20px;
}

.cover {
    width: 100%;
    height: 55vmin;
    background: url("https://images.unsplash.com/photo-1605693858835-602979e9b200?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
    background-position: -24rem -19rem;
    background-size: 150%;
    position: relative;
    border-radius: 20px;
}

    .cover .overlay {
        border-radius: 20px !important;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
    }

    .cover .content {
        width: 100%;
        height: 100%;
        background: rgba(66, 66, 66, 0.7);
        padding-top: 19vmin;
        border-radius: 20px;
    }

        .cover .content > h1 {
            font-family: "Patua One", cursive;
            font-size: 6.5vmin;
            color: whitesmoke;
        }

        .cover .content > p {
            font-family: "Rubik", cursive;
            font-size: 2.5vmin;
            color: #e5e5e5;
        }

.numbers .rect {
    position: relative;
    z-index: 1;
    background: white;
    width: 17rem;
    height: 19rem;
    padding-top: 3.5vmin;
    margin: 1rem;
    border-radius: 0.5em;
    -webkit-box-shadow: 1px 2px 50px 0px rgba(0, 132, 255, 0.473);
    box-shadow: 1px 2px 50px 0px rgba(0, 132, 255, 0.473);
}

    .numbers .rect h1 {
        font-size: 5rem;
        color: tomato;
    }

    .numbers .rect img {
        width: 150px;
        height: 150px;
    }

    .numbers .rect p {
        padding-left: 5px;
        padding-right: 5px;
    }

.numbers {
    margin-top: -17vmin;
}

.rect {
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}

    .rect:hover {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

#features {
    padding-top: 50px;
    padding-bottom: 50px;
}

.feature-row {
    width: 80%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.feature-col {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    text-align: center;
}

    .feature-col img {
        width: 100px;
    }

    .feature-col h4 {
        margin-bottom: 15px;
        font-size: 20px;
        font-weight: 400;
    }

.feature-btn {
    margin: 80px auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

    .feature-btn .line {
        text-align: right;
        display: inline-block;
        margin-right: 25px;
    }

/*courses*/
#courses {
    padding: 85px 0;
}

.course-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.course-right-col {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}

    .course-right-col img {
        width: 100%;
    }

.course-left-col {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}

.course-text {
    max-width: 350px;
}

    .course-text h1 {
        color: var(--textBlack);
    }
    .course-text button {
        margin: 30px 0;
    }

/*offer*/
#offer {
    padding: 40px 0 85px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

    #offer button {
        margin: 30px 0;
    }

/*contact*/
.contact-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 45px;
}

.contact-left-col,
.contact-right-col {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    color: var(--textBlack);
}

    .contact-right-col img {
        width: 100%;
    }

/*Contact Form*/
.form {
    width: 90%;
    padding: 30px 0px;
}

.form-control {
    position: relative;
    border-color: #fff;
}

    .form-control label {
        display: inline-block;
        margin-bottom: 5px;
    }

    .form-control input {
        border: 2px solid var(--mainColor);
        border-radius: 4px;
        display: block;
        font-family: inherit;
        font-size: 14px;
        padding: 10px;
        width: 95%;
    }

    .form-control textarea {
        border: 2px solid var(--mainColor);
        border-radius: 4px;
        display: block;
        font-family: inherit;
        font-size: 14px;
        padding: 10px;
        width: 95%;
    }

    .form-control.success input {
        border-color: #2ecc71;
    }

    .form-control.error input {
        border-color: #e74c3c;
    }

    .form-control.success textarea {
        border-color: #2ecc71;
    }

    .form-control.error textarea {
        border-color: #e74c3c;
    }

    .form-control i {
        position: absolute;
        top: 35px;
        right: 10px;
        visibility: hidden;
    }

    .form-control.success i.fa-check-circle {
        color: #2ecc71;
        visibility: visible;
    }

    .form-control.error i.fa-exclamation-circle {
        color: #e74c3c;
        visibility: visible;
    }

    .form-control small {
        visibility: hidden;
        position: relative;
        bottom: 0;
        left: 0;
    }

    .form-control.error small {
        color: #e74c3c;
        visibility: visible;
    }

.form button {
    background-color: var(--mainColor);
    border: 2px solid #fff;
    border-radius: 4px;
    color: white;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    margin-top: 80px;
}

/*Contact Form*/
/* Form 
-----------------------------------------------------------------*/
form label {
    display: block;
    font-weight: 400;
    color: #363636;
    margin: 0 0 1em 0;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form select,
form textarea {
    -webkit-appearance: none;
    border: 0;
    background: #f4f4f4;
    padding: 0.75em;
    width: 95%;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}

    form input[type="text"]:focus,
    form input[type="email"]:focus,
    form input[type="password"]:focus,
    form select:focus,
    form textarea:focus {
        background: #f8f8f8;
    }

form input[type="text"],
form input[type="email"],
form input[type="password"],
form select {
    line-height: 1.35em;
}

form ::-webkit-input-placeholder {
    color: #999;
}

form :-moz-placeholder {
    color: #999;
}

form ::-moz-placeholder {
    color: #999;
}

form :-ms-input-placeholder {
    color: #999;
}

form .sendmsbtn {
    background-color: #fa8509 !important;
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 96%;
    color: white;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

form input:focus,
form textarea:focus {
    outline: 2px solid var(--secondColor) !important;
}

#form-status {
    width: 95%;
}

    #form-status.success {
        background-color: #fff !important;
        color: #11c939 !important;
        -webkit-animation: status 4s ease forwards !important;
        animation: status 4s ease forwards !important;
    }

    #form-status.error {
        background-color: #fff !important;
        color: red !important;
        -webkit-animation: status 4s ease forwards !important;
        animation: status 4s ease forwards !important;
    }

@-webkit-keyframes form-status {
    0% {
        opacity: 1;
        pointer-events: all;
    }

    90% {
        opacity: 1;
        pointer-events: all;
    }

    100% {
        opacity: 0;
        pointer-events: none;
    }
}

@keyframes form-status {
    0% {
        opacity: 1;
        pointer-events: all;
    }

    90% {
        opacity: 1;
        pointer-events: all;
    }

    100% {
        opacity: 0;
        pointer-events: none;
    }
}

/*footer*/
#footer {
    padding: 50px 0 30px;
}

hr {
    width: 100%;
    border: 0;
    border-top: 1px solid var(--mainColor);
}

.footer-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer-left-col {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    margin-top: 45px;
}

.footer-right-col {
    -ms-flex-preferred-size: 35%;
    flex-basis: 35%;
}

.footer-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.link-title h4 {
    color: var(--mainColor);
    margin-bottom: 20px;
}

.link-title small {
    font: 13px;
    color: #777;
}

.footer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer-logo img {
    width: 100px;
    margin-top: 30px;
}

.footer-logo button {
    padding: 12px 38px;
    margin-top: 20px;
    font-size: 10px;
}

.copyright-text,
.footer-logo {
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
}

.copyright-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #777;
}

/*screen sizing*/
@media only screen and (max-width: 770px) {
    #header {
        background-image: none;
        height: 550px;
        margin-top: 50px;
        padding-top: 100px;
    }

    .container {
        margin-right: 50px;
        margin-left: 50px;
    }

    .logo-owl {
        margin-top: 27px;
        width: 150px;
    }

    .header-text {
        padding-top: 0;
        margin-top: 10px;
        margin-left: 23px;
        max-width: 100%;
    }

        .header-text p {
            max-width: 100%;
            padding: 0 20px;
        }

    h1 {
        font-size: 25px;
    }

    #menuBtn {
        width: 40px;
        right: 50px;
    }

    .common-btn {
        padding: 10px 16px;
    }

    .social-icons img {
        width: 14px;
        margin: 15px auto;
    }

    .about-left-col,
    .about-right-col {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .about-text {
        margin: 50px 50px 0;
        display: inline-block;
    }

        .about-text h2 {
            font-size: 18px;
        }

    .feature-col {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    .course-left-col {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .course-text {
        margin-left: 23px;
    }

    .course-right-col {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        margin-top: 70px;
    }

    .contact-left-col,
    .contact-right-col {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        margin-left: 23px;
    }

    .contact-right-col {
        margin-top: 50px;
    }

    .footer-left-col,
    .footer-right-col {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .link-title h4 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        margin-bottom: 30px;
    }

    .carousel {
        margin: 0 auto;
        text-align: center;
        display: block;
    }
}

/*typing style*/
.typing {
    position: relative;
}

    .typing::after {
        content: "";
        position: absolute;
        right: -5px;
        width: 1px;
        height: 90%;
        border-right: 2.5px solid #000;
        -webkit-animation: blink 0.5s infinite ease;
        animation: blink 0.5s infinite ease;
    }

@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*****************************/
/* MESSAGE BOX RELATED CLASS */
/*           (START)           */
/*****************************/
.msgbox-area {
    z-index: 2;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-height: 100%;
    position: fixed;
    bottom: 15px;
    left: 20px;
    right: 20px;
}

    .msgbox-area .msgbox-box {
        top: 350px;
        font-size: 15px;
        color: #0c0c0c;
        background-color: rgba(255, 235, 235, 0.8);
        padding: 15px 17px;
        margin: 0 0 13px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative;
        border-radius: 12px;
        -webkit-box-shadow: 0 10px 15px rgba(255, 255, 255, 0.65);
        box-shadow: 0 10px 15px rgba(255, 255, 255, 0.65);
        -webkit-transition: opacity 300ms ease-in;
        transition: opacity 300ms ease-in;
    }

        .msgbox-area .msgbox-box.msgbox-box-hide {
            opacity: 0;
        }

        .msgbox-area .msgbox-box:last-child {
            margin: 0;
        }

    .msgbox-area .msgbox-content {
        -ms-flex-negative: 1;
        flex-shrink: 1;
    }

    .msgbox-area .msgbox-close {
        text-align: right;
        right: 0;
        color: #131212;
        font-weight: bold;
        text-decoration: none;
        margin: 0 0 0 25px;
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        position: relative;
        -webkit-transition: text-shadow 225ms ease-out;
        transition: text-shadow 225ms ease-out;
    }

        .msgbox-area .msgbox-close:hover {
            text-shadow: 0 0 3px #363636;
        }

@media (min-width: 481px) and (max-width: 767px) {
    .msgbox-area {
        left: 80px;
        right: 80px;
    }
}

@media (min-width: 200px) {
    .msgbox-area {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        height: 0;
        top: 15px;
        left: auto;
        right: 15px;
    }
}

/*****************************/
/* MESSAGE BOX RELATED CLASS */
/*           (END)           */
/*****************************/
.games-vidiv {
    width: 400px;
    height: 350px !important;
    background-image: url(/wwwroot/images/games-vid.gif);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

    .games-vidiv .phone {
        position: relative;
        top: -8px;
        height: 430px;
        width: 354px;
        margin-left: 53px;
        margin-right: 0;
        display: block;
        border-radius: 25px;
    }

@media only screen and (max-width: 750px) {
    #offer .about-right-col {
        padding-top: 30px;
    }
}

@media only screen and (max-width: 350px) {
    .games-vidiv {
        width: 250px;
        height: 280px !important;
        margin-bottom: 30px;
    }

        .games-vidiv .phone {
            top: -8px;
            left: 13px;
            height: 360px;
            width: 270px;
            margin-right: 4px;
            margin-left: 0;
        }
}

.module-vidiv {
    width: 400px;
    height: 350px !important;
    background-image: url(/wwwroot/images/module-vid.gif);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

    .module-vidiv .phone {
        position: relative;
        top: -8px;
        height: 430px;
        width: 354px;
        margin-left: 53px;
        margin-right: 0;
        display: block;
        border-radius: 25px;
    }

@media only screen and (max-width: 750px) {
    #courses .about-right-col {
        padding-top: 30px;
    }

    .contact-row {
        margin-top: 0;
    }
}

@media only screen and (max-width: 350px) {
    .module-vidiv {
        width: 250px;
        height: 280px !important;
        margin-bottom: 30px;
    }

        .module-vidiv .phone {
            top: -8px;
            left: 13px;
            height: 360px;
            width: 270px;
            margin-right: 4px;
            margin-left: 0;
        }
}

.popup-onload {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    z-index: 10000;
}

    .popup-onload .popup a {
        text-decoration: none;
    }

    .popup-onload .popup {
        max-width: 400px;
        min-width: 200px;
        width: 40%;
        min-height: 150px;
        margin: 100px auto;
        background: #fdfdfd;
        opacity: 0.9;
        position: relative;
        z-index: 10;
        padding: 15px 35px;
        -webkit-box-shadow: 0 2px 5px #000;
        box-shadow: 0 2px 5px #000;
    }

        .popup-onload .popup p {
            color: #3b3636;
            /* text-align: justify; */
            text-align: center;
            font-size: 1.25rem;
            line-height: 1.6;
            font-weight: 400;
            font-family: "Nunito Sans", sans-serif;
        }

            .popup-onload .popup p a {
                color: #b18d73;
                font-weight: 400;
            }

    .popup-onload .x {
        color: #9b7458;
        font-size: 1.5rem;
        line-height: 1.6;
        font-weight: 400;
        font-family: "Nunito Sans", sans-serif;
        text-decoration: none;
        position: absolute;
        right: 15px;
        top: 0;
    }

        .popup-onload .x:hover {
            cursor: pointer;
        }

    .popup-onload .quote-closebtn {
        text-decoration: none;
        border: none;
        background-color: white;
        padding: 5px 10px;
        border-radius: 10px;
        margin: 0 auto;
        text-align: center;
        display: block;
        -webkit-box-shadow: 0 2px 5px #ec9292;
        box-shadow: 0 2px 5px #ec9292;
    }

@media only screen and (max-width: 650px) {
    .popup-onload .popup {
        max-width: 400px;
        min-width: 230px;
        width: 40%;
        min-height: 150px;
        margin: 0 auto;
        margin-top: 50px;
        padding: 20px 5px;
    }
}
