/* style.css */

@import url("https://fonts.googleapis.com/css?family=Days+One|Lora|Carme");

html {
	width: 100%;
}
/* Make HTML5 layout elements block elements for older browsers */
nav,
aside,
article,
section {
	display: block;
}

.pagecontainer {
	width: 100%;
	overflow-x: hidden;
	margin: 0px auto;
}

body {
	font-size: 110%; /*14pt  19px */
	font-family: "Lora", serif;
	line-height: 1.375;
	background-color: rgb(222, 176, 222);
	background-image: url(wwwroot/images/wood.jpg);
}

/*styling for wrapper div */
#wrapper {
	width: 90%;
	/* min-width: 600px;*/
	max-width: 1200px;
	margin: 1em auto;
	padding: 3em;
	background-color: rgb(244, 247, 250);
	margin: 0 auto;
	display: block;
}

.header {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

	.header a,
	.header h1 {
		float: left;
	}

	.header img {
		width: 100px;
	}

	.header h1 {
		font-size: 35px;
		padding-left: 20px;
	}

.main {
	padding-left: 70px;
	padding-right: 70px;
}

	.main p {
		font-size: 15px;
	}

.center {
	text-align: center;
}

@media only screen and (max-width: 700px) {
	.main {
		padding-left: 0;
		padding-right: 0;
	}

	div#wrapper {
		padding: 20px;
	}
}

@media only screen and (max-width: 450px) {
	.header h1 {
		font-size: 22px;
	}

	h2 {
		font-size: 20px;
	}

	p {
		font-size: 15px;
	}
}
